body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f4e9d8;  /* Old paper-like color */
    background-image: linear-gradient(180deg, #f9f7f1, #f4e9d8, #f9f7f1); /* subtle gradient */
    border: 10px double #3e3e3e; /* Adding a border to make it look more like a page */
    margin: 20px;

    /* opacity to 0 in 5 seconds */
    animation: fadeOut 5s;
    animation-fill-mode: forwards;
    
 
}
@keyframes fadeOut {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

p, header, .subhead, .collumn .headline {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;
    text-align: center;

}

p{
    margin-top: 0;
    margin-bottom: 20px;
}



.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;

}

.content{
    font-size: 0;
    line-height: 0;
    word-spacing: -.31em;
    display: inline-block;
    margin: 30px 2% 0 2%;


}
.collumns{
    display: flex;
    justify-content: center;
}

.collumn{
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 50px;
    transition: all 2.7s;
}
.collumn + .collumn { 
  border-left: 1px solid #2f2f2f;
}
.collumn .headline{
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;


}
.collumn .headline.hl1{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;

}

.collumn .headline.hl2{
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl2:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.collumn .headline.hl2:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 13px;
    display: block;
    margin: 0 auto;

}

.collumn .headline.hl3{
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}


.collumn .headline.hl5{
    font-weight: 400;
    font-size: 42px;
    text-transform: uppercase;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}




.collumn .figure {
	  margin: 0 0 20px;
}
.collumn .figcaption{
	font-style: italic;
	font-size: 15px;

}

.figure {
    display: flex;
    width: 25%;
    height: 50%;
    border: 2px solid black;
}
.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.media {
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
    width: 100%;

}
#winner-name {
    font-size:2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}
/*________________________________________________________________________________________________________________________________*/
/*MEDIAQUERIES*/

    @media only all and (max-width: 900px) {
    .collumn{
        width: 87%;
    }

}
@media only all and (max-width: 600px) {
    .collumn{
        width: 100%;
    }
	.collumn + .collumn {
				border-left: none;
      	border-bottom: 1px solid #2f2f2f;
	}
    header{
    
       text-align: center;
        max-width: 320px;
        font-size: 60px;
        line-height: 54px;
        overflow: hidden;
    }

}