/*

#59021
#C111D9
#05F2DB
#F29F05
#F28B0C
*/

:root {
    --primary-color: #F29F05;
    --secondary-bg-color: rgba(0, 0, 0, 0.7);
    
    --th-bg-color: rgba(0, 30, 30, 0.7);
    --btn-bg-color: rgba(0, 0, 0,0.5);
    --btn-bg-color-hover: rgba(59, 59, 66, 0.232);
    
}
@font-face {
    font-family: 'Pricedown BL'; /* You can give any name here, but make sure it's unique */
    src: url('../font/pricedownbl.otf') format('opentype'); /* Assuming 'fonts' is the directory where you stored the font */
}

.no-select {
    user-select: none;
}

#startContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    height: 50vh;
    width: 50vw;
    font-size: 2rem;
    min-width: 600px;
}

#startContainer > select {
    height:50px;
    width: 50px;
    font-size: 2rem;
}
#startContainer > input {
    color: white;
    font-size: 2rem;
}

body {
    margin:0;
    padding:0;
    min-width: 1000px;
    display: flex;
    flex-direction: column;
    
    background: #000 url('../img/neon_city_2.png') no-repeat center center/cover;
    color: var(--primary-color);
    font-family: "Arial", sans-serif;
    /*font-family: 'Pricedown BL', monospace; /* This uses the custom font, and falls back to sans-serif if the custom font isn't available */
        padding: 0 1rem; /* Small padding for mobile screens */
        
    }
main {
    display: flex;
    align-items: center;
    justify-content: baseline
    
    
}

#eventcard {
    display: none;
    background-image: url('../img/eventcard_backs/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 300px;
    aspect-ratio: 1/1;
    box-shadow: 0 0 50px var(--primary-color);
    transition: transform 0.3s ease;
    margin: 0 6vw;
    
}
#eventcard:hover {
    transform: scale(1.1);

    cursor: pointer;
    animation: glowing 1s infinite alternate;
    
}
@keyframes glowing {
    0% {
        box-shadow: 0 0 50px var(--primary-color);
    }
    100% {
        box-shadow: 0 0 10px #ffffff, 0 0 30px #ffffff, 0 0 50px var(--primary-color), 0 0 70px var(--primary-color), 0 0 100px var(--primary-color);
    }
  }


.game-container {
    min-width: 1000px;
    display: none;
}
#playerCityDisplay {
    min-height: 40px;
    
}
#playerTurn {
    font-size: 2rem;
}

    .container {
        max-width: 80%;
        margin: 0.5rem; /* Spacing between containers */
        text-align: center;
        background-color: var(--secondary-bg-color);
        padding: 10px;
        border: 2px solid var(--primary-color);
        border-radius: 5px;
        
    }

    h1 {
        font-size: 1.5rem;
        text-shadow: 0 0 5px var(--primary-color);
        margin-bottom: 10px;
        
    }

    table {
        width: 100%;
        margin-top: 10px;
        border-collapse: collapse;
        background-color: rgba(0, 0, 0, 1.0);
    }

    th, td {
        border: 1px solid var(--primary-color);
        padding: 0.3rem 1rem;
        text-align: center;
        background-color: var(--table-bg-color);
    }

    th {
        font-size: 1.2rem;
     
        background-color: var(--th-bg-color);
        cursor: pointer;
    }

    td {
    
        font-size: 1.2rem;
        background-color: black;
        color: white;
    }

    button {
        margin-top: 10px;
        background-color: var(--btn-bg-color);
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
        padding: 0.3rem 0.8rem;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;
        font-size: 1rem;
    }

    button:hover {
        background-color: var(--btn-bg-color-hover);
        text-shadow: 0 0 4px var(--primary-color);
    }

    #diceResult {
        margin-top: 10px;
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 0 0 3px var(--primary-color);
    }



    #player-container .container {
        width: 70vw;
        max-width: 250px;
        margin: 0.5rem; /* Spacing between containers */
        height: auto; /* Set to auto for better scaling */
        text-align: center;
        background-color: var(--secondary-bg-color);
        padding: 10px;
        border: 2px solid var(--primary-color);
        border-radius: 5px;
    }
    #marketBoard {
        /* */
        display: flex;
        gap: 50px;
        justify-content: baseline;
        align-items: center;
        padding: 20px;
        
    
    
       
    }


    /* Media queries for larger screens */
    @media screen and (min-width: 768px) {
        h1 {
            font-size: 2rem;
        }

        th {
            font-size: 2rem;
        }

        td, button {
            font-size: 1.5rem;
            
        }

        #diceResult {
            font-size: 2rem;
        }
    }


    /* Addon day 2 */
    label {
        display: block;
        margin-top: 5px;
    }

    #startCash {
        margin-top: 5px;
        padding: 3px;
        color: var(--primary-color);
        background-color: var(--secondary-bg-color);
        border: 2px solid var(--primary-color);
    }

    .player-cash-display {
        font-size: 2rem;
        margin-top: 10px;
        font-weight: bold;
    }

    .player-inventory {
        margin-top: 10px;
        font-size: 0.8rem;
    }

    .buy-btn, .sell-btn {
        margin-right: 3px;
        border-radius: 20%;
        background-color: black;
        color: rgba(255,255,255,0.9)
        
    }


    /* Player Inventory Styling */

    .player-picture {

        width: 30%;
        aspect-ratio: 1/1;
        border-radius: 5px;
        margin-bottom: 10px;
        border: 2px solid var(--primary-color);
        box-shadow: 0 0 10px var(--primary-color);
    }

    #player-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; /* Distributes player containers evenly */
        margin-top: 30px; /* Provide some space from the game board */
        border-top: 2px dashed var(--primary-color); /* Dashed line to distinguish sections */
        padding-top: 10px; /* Padding at the top */
       
    }

    #player-container .container {
        background-color: rgba(0, 0, 0, 0.8); /* Make it slightly darker for contrast */
        position: relative; /* Set to relative to allow pseudo elements */
        transition: transform 0.3s, box-shadow 0.3s; /* Smooth hover effect */
       
    }

    #player-container .container:hover {
        transform: translateY(-5px); /* Lift the container a bit on hover */
        box-shadow: 0 5px 15px var(--primary-color);/* Add a shadow to make it pop out */
        transform: scale(1.2); /* Set to 1 to allow scaling on hover */
        
    }

    #player-container .container::before {
        content: "Inventory"; /* Add an Inventory label */
        display: block;
        position: absolute;
        top: -20px; /* Position it above the container */
        left: 50%;
        transform: translateX(-50%); /* Center it */
        background-color: var(--primary-color);
        color: #000; /* Black text */
        padding: 2px 8px;
        border-radius: 5px;
        font-weight: bold;
    }

    .player-name-label {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 5px; /* Space between name and the rest */
    }

    .player-name-input {
        margin-bottom: 5px; /* Space after the input field */
    }

    .player-cash-display {
        font-size: 3rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.7); /* A background to distinguish from the rest */
        padding: 3px 8px;
        margin-bottom: 5px;
        border-radius: 5px;
    }

    .player-inventory {
        display: flex;
        flex-direction: column; /* Stack drug types vertically */
        align-items: center; /* Center them */
        border-top: 1px solid var(--primary-color); /* Separate name and cash from drugs */
        padding-top: 5px; /* Padding for the top */
        margin-top: 5px; /* Margin at the top */
        font-size: 2rem;
    }

    .buy-btn, .sell-btn {
        margin: 3px; /* Space around the buttons */
        padding: 3px 8px; /* Bigger buttons are easier to click */
        font-size: 0.8rem; /* Clearer labels */
    }

    /* Improve visibility of input field and its placeholder */
    .player-name-field {
        background-color: rgba(0, 0, 0, 0.7);
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
        border-radius: 5px;
        padding: 3px 8px;
    }

    .player-name-field::placeholder {
        color: rgba(255, 255, 255, 1); /* Slightly faded placeholder */
    }

    /* Debug styles */
    .cash-variables {
        margin-top: 5px;
        padding: 3px;
        color: var(--primary-color);
        background-color: var(--secondary-bg-color);
        border: 2px solid var(--primary-color);
    }
    .debug-container {
        border: 2px solid var(--primary-color);
        background-color: black;
        padding: 20px;
        margin-top:20px;
    }
    .debug-container > p {
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        

    }

#game-title{

        text-align: center;
        font-size: 7em;
        color: white;
        text-shadow: 0 0 3px var(--primary-color);
        text-shadow: 10px 10px 12px black;
        margin-bottom: 10px;
        font-family: 'Pricedown BL', monospace;
        margin-top: 0px;
        
        
       
    }

#game-interface {
  /**/
}

.hightlight-city {
    font-weight: bold;
    font-size: 3rem;
}

.notactive-city {
 opacity: 0.0;

}
