:root {
    --primary-color: #0ff;
    --secondary-bg-color: rgba(0, 0, 0, 0.7);
    --table-bg-color: rgba(0, 50, 50, 0.4);
    --th-bg-color: rgba(0, 30, 30, 0.7);
    --btn-bg-color: #005;
    --btn-bg-color-hover: #007;
}

body {
    min-width: 1000px;
    display: flex;
    flex-direction: column;
    background: #000 url('neon_city.jpg') no-repeat center center/cover;
    color: var(--primary-color);
    font-family: "Arial", sans-serif;
    padding: 0 2rem; /* Small padding for mobile screens */
}

.container {
    max-width: 80%;
    margin: 2rem auto;  /* reduce margin for mobile devices */
    text-align: center;
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
}

h1 {
    font-size: 1.8rem;
    text-shadow: 0 0 10px var(--primary-color);
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 1.0);
}

th, td {
    border: 2px solid var(--primary-color);
    padding: 0.5rem;
    text-align: center;
    background-color: var(--table-bg-color);
}

th {
    font-size: 1.5rem;
    background-color: var(--th-bg-color);
}

td {
    font-size: 1.2rem;
}

button {
    margin-top: 20px;
    background-color: var(--btn-bg-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 1.2rem;
}

button:hover {
    background-color: var(--btn-bg-color-hover);
}

#diceResult {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 5px var(--primary-color);
}

#player-container {
    display: flex;
    flex-wrap: wrap;  /* Allows items to wrap onto next line */
    justify-content: center; /* Centers items */
}

#player-container .container {
    width: 80vw;
    max-width: 300px;
    margin: 1rem; /* Spacing between containers */
    height: auto; /* Set to auto for better scaling */
    text-align: center;
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
}

/* Media queries for larger screens */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.8rem;
    }

    th {
        font-size: 2rem;
    }

    td, button {
        font-size: 1.5rem;
    }

    #diceResult {
        font-size: 3rem;
    }
}

