body {
    display: flex;
    flex-direction: column;
    background-color: #000;
    background-image: url('neon_city.jpg'); /* Use a neon-lit city image */
    color: #0ff;
    aspect-ratio: 1/1;
    background-size:cover;
    font-family: "Arial", sans-serif;
}

.container {

    max-width: 80%;
    margin: 100px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border: 3px solid #0ff;
    border-radius: 5px;
}

h1 {
    font-size: 2.8em;
    text-shadow: 0 0 10px #0ff;
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color:rgba(0, 0, 0, 1.0)
}

th, td {
    border: 2px solid #0ff;
    padding: 8px;
    text-align: center;
    background-color: rgba(0, 50, 50, 0.4);
}

th {
    font-size: 2em;
    background-color: rgba(0, 30, 30, 0.7);
}

td {
    font-size: 1.8em;
}



button {
    margin-top: 20px;
    background-color: #005;
    color: #0ff;
    border: 2px solid #0ff;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    height: 50px;
    width: 200px;
    font-size: 1.5em;
}

button:hover {
    background-color: #007;
}

#diceResult {
    margin-top: 20px;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0 0 5px #0ff;
}

#player-container {
    display:flex;
}


#player-container  .container {
    width: 20vw;
    height: 20vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border: 3px solid #0ff;
    border-radius: 5px;
}